<div class="container-fluid wrapper bg-info text-white">
  <div class="mx-auto" style="width: 200px;">


<h1>New Meme</h1>

<%= render 'form', meme: @meme %>

<%= link_to 'Back', memes_path %>
</div>
